.wrapper {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.calendar {
  display: grid;
  grid-template-columns: 1fr repeat(5, 3fr) 1fr;
}

.weekday,
.time {
  border: 1px solid black;
}

.arrow_icon {
  width: 1.5em;
  height: 1.5em;
  fill: #000;
}
.arrow_left {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 2em;
}

.arrow_right {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 2em;
}

.arrow_left:hover,
.arrow_right:hover {
  transform: scale(1.01);
}
